@import '../../assets/styles/theme.scss';

.left-container {
    overflow: hidden;
    &::before{
        content: '';
        position:absolute;
        left:0;
        top:0;
        background-image: url('../../assets/images/leftImg2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:100%;
        height:100%;
       
     z-index: 99;
    }

   

    .arrow-back-left-box{
        width: 150px;
        height: 150px;
        border-radius: 100% ;
        background-color: $primary;
        position: absolute;
        top: 45%;
        right: -75px;
    }
        .arrow-back-left {
            position:absolute;
            top:25%;
            left:10%;
            color: $accent;
            z-index: 99;
        }
}

.right-container {
    overflow: hidden;
    &::before{
        content: '';
        position:absolute;
        right:-5%;
        top:4%;
        background-image: url('../../assets/images/rightimg2.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        width:100%;
        height:100%;
    }

.arrow-back-right-box{
    width: 150px;
    height: 150px;
    border-radius: 100% ;
    background-color: $accent;
    position: absolute;
    top: 45%;
    left: -75px;
}
    .arrow-back-right {
        position:absolute;
        top:25%;
        right:10%;
        color: $primary;
        z-index: 99;
    }
}

.circle-box {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-image: url('../../assets/images/and.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(512px/2);
    height: calc(512px/2);
    z-index: 99;
    .arrow-left{
        position: absolute;
        bottom: 30%;
        left: 50%;
        color: $accent;
        transform: translate(-50%,50%);

        &:hover{
            cursor: pointer;
        }
    }   
    .arrow-right{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: $primary;

        &:hover{
            cursor: pointer;
        }
    }
}

.apply-full {
    transition: .3s all ease-in-out;
    width: 100%;
    z-index: 99;
    // padding-bottom: 42px;

    &::before{
        display: none;
        width:0;
    }
    h1{
        text-align: center;
    }
}

.remove-graphics {
    transition: .3s all ease-in-out;
    width: 0;
}
.apply-graphics {
    transition: .3s all ease-in-out;
    width: 100%;
    z-index: 99;
    // padding: 0 64px;

    &::before{
        display: none;
        width:0;
    }

    h1{
        text-align: center;
        width:100%;
        padding-right: 0;
    }
}
.remove-full {
    transition: .3s all ease-in-out;
    width: 0;

  
}

.a-button{
    padding: 10px 30px;
}

.image-container-icon {
    width:352px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;

    .img-figma {
        position: absolute;
        top:0;
        right: 0;
        width:200px;
        height: 300px;
        background-image: url('../../assets/images/figma.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .img-ai {
        position: absolute;
        top:50%;
        left: 57px;
        width:95px;
        height: 95px;
        background-image: url('../../assets/images/xd.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }

    .img-xd {
        position: absolute;
        bottom:0;
        left: 0;
        width:57px;
        height: 57px;
        background-image: url('../../assets/images/ai.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain; 
    }
}

